.categories-area {
	background: $gray;
	.single-cat {
		border: 1px solid transparent;
		padding: 30px 22px;
		@include transition(0.4s);

		position: relative;
		z-index: 1;
		height: 100%;
		background: $white;
		@media #{$xs} {
			padding: 30px 22px;
		}
		@media #{$sm} {
			padding: 30px 18px;
		}
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 0;
			background: $btn_bg;
			@include transition(0.4s);

			bottom: 0;
			left: 0;
			z-index: -1;
			border: 8px solid $white;
		}
		.cat-icon {
			svg {
				color: $red;
				font-size: 65px;
				margin: auto;
				margin-bottom: 30px;
				display: block;
			}
		}
		.cat-cap {
			h5 {
				& > a {
					font-size: 24px;
					font-weight: 600;
					margin-bottom: 21px;
					display: block;
					@include transition(0.2s);

					font-family: $font_3;
					@media #{$sm} {
						font-size: 21px;
					}
					@media #{$xs} {
						font-size: 23px;
					}
				}
			}
			p {
				margin-bottom: 36px;
				color: $jgray;
				font-size: 16px;
				@include transition(0.2s);
				@media #{$sm} {
					font-size: 15px;
				}
			}
			a {
				color: $velvet;
				font-size: 16px;
				font-weight: 600;
				@include transition(0.2s);
			}
		}

		// Hover Effect In single
		&:hover {
			border: 1px solid transparent;

			&::before {
				height: 100%;
			}
			.cat-icon {
				svg {
					color: $white;
				}
			}
			.cat-cap {
				h5 {
					color: $white;
				}
				p {
					color: $white;
				}
				a {
					color: $white;
				}
			}
		}
	}
}
