//Theme color
$theme-color: #14435c;
$theme-color2: #1f2b7b;

$fgray: #777;
$hgray: #757575;
$ogray: #777575;
$lgray: #eee;
$gray: #f7f7f7;
$cgray: #cfcfcf;
$bgray: #a6b4bb;
$ggray: #8f9195;
$mgray: #d3d3d4;
$egray: #736e6e;
$jgray: #57667e;
$igray: #616373;
$vgray: #f0e9ff;
$blue: #011548;
$ablue: #464d65;
$bblue: #0d2d3e;
$lblue: #1696e7;
$cblue: #1b4962;
$fblue: #233148;
$dblue: #191d34;
$eblue: #161e46;
$rblue: #0e132a;
$sblue: #000a2d;
$lvelvet: #3b3647;
$velvet: #1c165c;
$light: #cecece;
$lorange: #dca73a;
$aorange: #e3c6c6;
$borange: #f79960;
$orange: #f04e3c;
$red: #eb566c;
$redalt: #ce3249;
$lred: #e60427;
$hred: #f00;
$fred: #ec5b53;

// btn and Section color
$btn_bg: #e21736;

// font-color
$heading-color: #092c3f;
$heading_color2: #242b5e;

// Body Font
$body-text-color: #6f7479;
$hr-border-color: #eceff8;

// Section Bg
$section_bg1: #454545;

//Colors
$white: #fff;
$swhite: #fdfdfd;
$rwhite: #f2f2f2;
$lwhite: #e5e6e9;
$trueblack: #000;
$black: #16161a;
$nblack: #121212;
$mblack: #11141b;
$oblack: #2a2a2a;
$pblack: #212529;
$qblack: #0b1416;
$yblack: #2e2200;

$gray-color: #bebebe;
$gray-color-2: #bdbdbd;
$gray-color3: #5c5c5c;

// font color
$font_color1: #10285d;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;

// bg
$brand-bg: #f1f4fa;
$testimonial-bg: #f9fafc;

// Soft color
$black-soft: #7e7e7e;

// Section Bg color
$blue-bg1: #00163e;

.section-bg1 {
	background: #13151b;
}

.gray-bg {
	background: $gray;
}
.white-bg {
	background: $white;
}
.black-bg {
	background: $black;
}
.theme-bg {
	background: $theme-color;
}
.brand-bg {
	background: $brand-bg;
}
.testimonial-bg {
	background: $testimonial-bg;
}

.white-color {
	color: $white;
}
.black-color {
	color: $black;
}
.theme-color {
	color: $theme-color;
}
