.footer-area {
	background: $mblack;
	.footer-top {
		border-bottom: 1px solid $fblue;
		.single-footer-caption {
			.footer-logo {
				margin-bottom: 30px;
			}
			.footer-pera {
				.info1 {
					line-height: 1.8;
					margin-bottom: 35px;
					color: $gray-color-2;
					@media #{$lg} {
						padding-right: 0;
					}
					@media #{$md} {
						padding-right: 0;
					}
					@media #{$sm} {
						padding-right: 0;
					}
					@media #{$sm} {
						padding-right: 0;
					}
				}
			}
			.footer-number {
				h4 {
					color: $hred;
					font-size: 30px;
					font-weight: 500;
					text-transform: capitalize;
					span {
						color: $white;
					}
				}
				p {
					color: $gray-color-2;
				}
			}
			.footer-tittle {
				& h4 {
					color: $white;
					font-family: $font_2;
					font-size: 18px;
					margin-bottom: 38px;
					font-weight: 500;
					text-transform: uppercase;
				}
				& ul {
					& li {
						color: $gray-color-2;
						margin-bottom: 15px;
						text-transform: capitalize;
						& a {
							color: $gray-color-2;
							font-weight: 300;
							&:hover {
								color: $white;
								padding-left: 5px;
							}
						}
					}
				}
			}
		}
	}

	.footer-bottom {
		padding-bottom: 50px;
		padding-top: 30px;
		.footer-copy-right {
			& p {
				color: $gray-color-2;
				font-weight: 300;
				font-size: 16px;
				line-height: 2;
				margin-bottom: 12px;
				& i {
					color: $hred;
				}
				& a {
					color: $hred;
				}
			}
		}
	}

	.footer-social {
		span {
			color: $white;
			position: relative;
			margin-right: 57px;

			&::before {
				position: absolute;
				content: '';
				width: 43px;
				height: 2px;
				background: $lvelvet;
				top: 50%;
				transform: translateY(-50%);
				right: -56px;
			}
		}
		@media #{$md} {
			float: left;
			padding-top: 10px;
		}
		@media #{$sm} {
			float: left;
			padding-top: 10px;
		}
		@media #{$xs} {
			float: left;
			padding-top: 10px;
		}
		a {
			color: $gray-color-2;
			font-size: 14px;
			text-align: center;
			margin-left: 16px;
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				color: $white;
			}

			svg {
				@include transition(0.4s);

				transform: rotateY(0deg);
				-webkit-transform: rotateY(0deg);
				-moz-transform: rotateY(0deg);
				-ms-transform: rotateY(0deg);
				-o-transform: rotateY(0deg);
			}
			// Hover
			&:hover svg {
				color: $btn_bg;
				transform: rotateY(180deg);
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
			}
		}
	}
}
