// Header left right padding
.header-area {
	.header-bottom {
		// mobile menu show
		@media #{$md} {
			padding: 17px 0;
		}
		@media #{$sm} {
			padding: 17px 0;
		}
		@media #{$xs} {
			padding: 17px 0;
		}
	}
	// Header Top
	@media #{$md} {
		box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	}
	@media #{$sm} {
		box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	}
	@media #{$xs} {
		box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	}
	.header-top {
		background: $bblue;
		padding: 13px 0;
		.header-info-left {
			ul {
				li {
					color: $white;
					display: inline-block;
					margin-right: 30px;
					font-size: 12px;
					font-weight: 100;
					font-family: $font_1;
					text-transform: uppercase;
					&:last-child {
						margin-right: 0;
					}
					& i {
						margin-right: 8px;
						color: $lred;
					}
				}
			}
		}
		.header-info-right {
			.header-social {
				li {
					display: inline-block;
					& a {
						color: $white;
						font-size: 16px;
						padding-left: 25px;
						&:hover {
							color: $theme-color;
						}
					}
				}
				a {
					svg {
						@include transition(0.4s);

						transform: rotateY(0deg);
					}
					// Hover
					&:hover svg {
						color: $btn_bg;
						transform: rotateY(180deg);
					}
				}
			}
		}
	}
	// Header Bottom
	.main-header {
		position: relative;
		z-index: 3;
		.main-menu {
			& ul {
				& li {
					display: inline-block;
					position: relative;
					z-index: 1;
					& a {
						padding: 30px 20px;
						@media #{$medium_device} {
							padding: 30px 10px;
						}
					}
					& select {
						margin: 0 20px;
						@media #{$medium_device} {
							margin: 0;
						}
					}
					& a,
					& select {
						color: $bblue;
						font-weight: 400;
						display: block;
						font-size: 16px;
						@include transition(0.3s);
					}

					& a.nuxt-link-exact-active {
						color: $lred;
					}
					&:hover {
						& > a {
							color: $lred;
						}
					}
					&:last-child {
						a,
						select {
							padding-right: 0;
							margin-right: 0;
						}
					}
				}
				& ul.submenu {
					position: absolute;
					width: 170px;
					background: $bblue;
					left: 0;
					top: 90%;
					visibility: hidden;
					opacity: 0;
					box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
					padding: 17px 0;
					@include transition(0.3s);
					& > li {
						margin-left: 7px;
						display: block;
						& > a {
							padding: 6px 10px !important;
							font-size: 15px;
							color: $swhite;
							&:hover {
								background: none;
								padding-left: 13px !important;
							}
						}
					}
				}
			}
		}
	}
	// Hover Show Sub-menu
	.main-header ul > li:hover > ul.submenu {
		visibility: visible;
		opacity: 1;
		top: 100%;
	}

	.header-sticky {
		padding: 10px;
		&.sticky-bar {
			background: $white;
			.main-menu {
				nav > ul {
					& > li {
						& > a {
							padding: 25px 20px !important;
						}
					}
				}
			}
			// Small device sticky show padding
			@media #{$md} {
				padding: 15px 0;
			}
			@media #{$sm} {
				padding: 15px 0;
			}
			@media #{$xs} {
				padding: 15px 0;
			}
		}
	}
}

//! Mobile Menu
.mobile_menu {
	.slicknav_menu {
		background: transparent;
		margin-top: 0 !important;
		.slicknav_btn {
			top: -35px;
			// mobile Menu button color
			.slicknav_icon-bar {
				background-color: $theme-color !important;
			}
		}
		.slicknav_nav {
			margin-top: 20px !important;
			a:hover {
				background: transparent;
				color: $theme-color;
			}
			a {
				font-size: 15px;
				padding: 7px 10px;
			}

			& li {
				& a.nuxt-link-exact-active {
					color: $lred;
				}
				&:hover {
					& > a {
						color: $lred;
					}
				}
			}
			// Dropdown Menu button Padding None
			.slicknav_item a {
				padding: 0 !important;
			}
		}
	}
}

.switch {
	background: inherit;
	color: $bblue;

	option {
		color: $bblue;
		background: white;
	}

	&:focus {
		outline: 0;
	}
}

.logo {
	.nuxt-link-active {
		height: 100%;
		display: inline-block;
	}
}

.links,
.logo {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@media #{$tab3} {
	.logo {
		flex: 0 0 30%;
		max-width: 30%;
	}
	.links {
		flex: 0 0 70%;
		max-width: 70%;
	}
}

@media #{$medium_device} {
	.logo {
		flex: 0 0 33%;
		max-width: 33%;
		padding: 0;
	}
	.links {
		flex: 0 0 67%;
		max-width: 67%;
		padding: 0;
	}
}
