.services-area {
	background: $gray;
	.single-services {
		@media #{$sm} {
			margin-bottom: 30px;
		}
		@media #{$xs} {
			margin-bottom: 30px;
		}
		.services-img {
			img {
				width: 100%;
				height: auto;
			}
		}
		.services-caption {
			position: relative;
			background: $white;
			width: 100%;
			padding: 33px 46px 16px 32px;
			margin-top: -50px;
			@media #{$md} {
				width: 95%;
			}
			@media #{$sm} {
				width: 100%;
				padding: 33px 16px 16px 26px;
				margin-top: 0;
			}
			@media #{$xs} {
				width: 100%;
				padding: 33px 16px 16px 26px;
				margin-top: 0;
			}
			span {
				margin-bottom: 15px;
				line-height: 13px;
				font-family: $font_1;
				position: relative;
				color: $redalt;
				font-weight: 400;
				font-size: 18px;
				display: block;
				padding-left: 35px;
				&::before {
					position: absolute;
					content: '';
					width: 35px;
					height: 2px;
					top: 0;
					left: 0;
					transform: translateY(-50%);
					background: $lred;
				}
			}
			p {
				margin-bottom: 15px;
				line-height: 1.5;
				font-family: $font_2;
				a {
					color: $rblue;
					font-weight: 400;
					font-size: 20px;
					display: block;
					&:hover {
						color: $theme-color;
					}
					@media #{$md} {
						font-size: 18px;
					}
					@media #{$xs} {
						font-size: 18px;
					}
				}
			}
		}
	}
}

.section-top-border {
	padding: 50px 0;
	border-top: 1px dotted $lgray;
}
