.slicknav_btn {
	display: block;
	float: right;
	line-height: 1.125em;
	margin: 5px 5px 6px;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	margin-bottom: -15px;
	position: relative;
	z-index: 99;
	border: none;
	border-radius: 3px;
	padding: 5px;
	right: 5px;
	margin-top: -5px;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em;
}

.slicknav_menu {
	*zoom: 1;
	font-size: 16px;
	box-sizing: border-box;
	background: transparent;
	margin: 0;
	padding: 0;
}

.slicknav_menu .slicknav_icon {
	float: left;
	width: 1.125em;
	height: 0.875em;
	margin: 0.188em 0 0 0.438em;
	margin-right: 6px;
	margin-top: 3px;
	position: relative;
	right: 5px;
	top: -5px;
	padding-bottom: 3px;
}

.slicknav_menu .slicknav_icon::before {
	background: transparent;
	width: 1.125em;
	height: 0.875em;
	display: block;
	content: '';
	position: absolute;
}

.slicknav_menu .slicknav_icon-bar {
	display: block;
	background-color: #fff;
	height: 3px;
	margin: 5px 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 30px;
	position: relative;
}

.slicknav_menu::before {
	content: ' ';
	display: table;
}
.slicknav_menu::after {
	content: ' ';
	display: table;
	clear: both;
}

.slicknav_nav {
	clear: both;
	color: #fff;
	margin: 0;
	font-size: 0.875em;
	list-style: none;
	overflow: hidden;
	background: #fff;
	float: right;
	margin-top: 11px;
	padding: 19px;
	width: 100%;
	border-bottom: 1px solid #eee;
}

.slicknav_nav ul {
	display: block;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0 0 0 20px;
}

.slicknav_nav li {
	display: block;
}

.slicknav_nav a,
.slicknav_nav select {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #0d2d3e;
}

.slicknav_nav a {
	padding: 5px 10px;
	margin: 2px 5px;
}

.slicknav_nav select {
	margin: 7px 15px;
}

.slicknav_menu * {
	box-sizing: border-box;
}

.slicknav_nav a:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background: #f79960 none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

/* ===== mobile menu slicknav ===== */

.mobile_menu {
	position: absolute;
	right: 10px;
	width: 96%;
	z-index: 99;
}

.slicknav_icon-bar {
	background: #fff !important;
}

.slicknav_menu .slicknav_nav a:hover {
	background: transparent;
	color: #dca73a;
}
