// All of your custom SCSS variables go first
$primary: #7d61c8;
$secondary: #fff;
$light: #f1f1f1;
$dark: #000;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@import './variables.scss';
@import './mixins.scss';
@import './overlay.scss';
@import './common.scss';
@import './color.scss';

@import './headerMenu.scss';
@import './footer.scss';
@import './h1-hero.scss';
@import './categories.scss';
@import './about.scss';
@import './services_section.scss';
@import './testimonial.scss';
@import './count_down.scss';
@import './team.scss';
@import './wantTowork.scss';
@import './blog_page.scss';
@import 'vue-slick-carousel/dist/vue-slick-carousel.css';
@import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css';
